.headerContainer { // class assigned to element <header>
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 15px 5px;
  height: $header-height;
  display: flex;
  justify-content: center;
  align-items: center;

  .burgerMenu {
    width: 200px;
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    right: 0;
    -webkit-transition: position 1s linear, -webkit-transform 1s linear;
    transition: position 1s linear, transform 1s linear;
    overflow: none;
    @include slide;
    z-index: $burgerIndex;
    border-radius: 0 0 6px 6px;

    li {
      margin-bottom: 10px;
    }
    .loginMenuItem,
    .profileMenuItem,
    .quizListMenuItem,
    .aboutMenuItem,
    .settingsMenuItem,
    .spacedrepMenuItem {
      text-decoration: none;
      &:hover:not(.inactive) {
        color: $fontColorDarkHover;
      }
    }
  }
  .burgerHide {
    top: -400%;
  }
  .burgerShow {
    top: 100%;
  }

  .header {
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    z-index: $headerZIndex;
    @include linear-gradient(60deg, lighten($headerColor, 10%), darken($headerColor, 10%));
    -moz-box-shadow: 0px 4px 4px $shadow;
    -webkit-box-shadow: 0px 4px 4px $shadow;
    box-shadow: 0px 4px 4px $shadow;
    .header-label { // h1
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 1;
      font-size: 24px;
      color: $fontColorHeader;
      text-align: center;
    }
    .burger-icon-container {
      height: 100%;
      width: $header-height;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .header-score,
    .burger-icon {
      display: flex;
      flex-direction: column;
      color: $fontColorIconHeader;
      height: 60%;
      width: $header-height;
      justify-content: center;
      align-items: center;
      &:hover {
        color: $fontcolorWhiteHover; 
      }
    }
  }
}

