@import '_variables.scss';


.lists {
  .quizListHeader {
    margin: 20px 0;
  }
  .quizList {
    width: 100%;
    margin-top: 25px;

    .listItem { // each line item
      .listItemDifficulty { 
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        border-radius: 50%;
        height: 22px;
        width: 22px;
      } // end listItemDifficulty
      // co-classes of .listItemDifficulty
      .diff1{ background-color: $diff1Color; }
      .diff2{ background-color: $diff2Color; }
      .diff3{ background-color: $diff3Color; }
      .diff4{ background-color: $diff4Color; }
      .diff5{ background-color: $diff5Color; }
      .listItemScore { 
        font-size: 80%;
        color: lighten($fontColorMain, 15%);
      } // end listItemScore
  
      .listItemGo {
        .take-quiz-container {
          
        }
        .take-quiz { // subclass of .smallIcon
          // width: $goWidth;
          padding-right: 2%;
          flex-direction: row;
          align-items: center;
          font-size: 24px;
          &:hover {
            color: $fontColorDarkHover;
          }
          .faText {
            display: none;
            @media screen and (min-width: $landscapePhone) {
              display: flex;
            }
            font-size: 12px;
            &:hover {
              color: $fontColorDarkHover;
            }
          }
        } // end go
      }
      
  
    } // end listItem
  } // end quizList
  .listSelectionButtons {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .goToDashboardButton, .goToMenuButton {
      font-size: 20px;
      min-height: 40px;
      flex-basis: 0;
      flex-grow: 1;
      margin-left: 5%;
      margin-right: 5%;
    }
  }
} 
