.quiz { // immediate parent is main
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  .questionAsked {
    flex: 1;

  }
  .questionForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .questionOptions {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .questionAsked, .questionOptions {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    min-height: 30vh;
    background-color: $formInsetColor;
    border: 1px solid $linesLight;
    -moz-box-shadow: inset 5px 5px 5px -4px $insetShadow;
    -webkit-box-shadow: inset 5px 5px 5px -4px $insetShadow;
    box-shadow: inset 5px 5px 5px -4px $insetShadow;
  }
  .questionTextInput {
    height: 1.5em;
  }
  .questionButtons { // SEE ALSO '_buttons.scss'
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    .smallIcon {
      font-size: 30px;
      width: 65px;
      .faText {
        margin-top: 10px;
      }
    }
    .submitButton {
      margin-bottom: 0;
    }
    .nextButton {

    }
  }

  .spacedRepContainer {
    flex-direction: column;
    width: 100%;
  }
  .spacedRepStats {
    flex-direction: column;
    width: 100%;
  }
  .spacedRepObjectContainer {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .spacedRepObject{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2px;
    width: 2em;

    .questionConstant, .currentQuestion, .priorQuestion, .nextQuestion, .false, .true, .transparent {
      width: 100%;
      height: 20px;
      text-align: center;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .questionConstant {
      border: 1px solid #333;
      text-align: center;
    }
    .currentQuestion {
      border: 2px solid black;
    }
    .priorQuestion {
      background-color: #ccc;
    }
    .nextQuestion {
      background-color: #4d4; 
    }
    .false {
      color: red;
    }
    .true {
      color: green;
    }
  }

  .results {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    .reason {
      
    }
    .resources {
      
    }
    .feedback {
      
    }
    .nextButton {
      width: 250px;
    }
  }
}

