.quiz { // immediate parent is main
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  .questionAsked {
    flex: 1;

  }
  .questionForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .questionOptions {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .questionAsked, .questionOptions {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    min-height: 30vh;
    background-color: $formInsetColor;
    border: 1px solid $linesLight;
    -moz-box-shadow: inset 5px 5px 5px -4px $insetShadow;
    -webkit-box-shadow: inset 5px 5px 5px -4px $insetShadow;
    box-shadow: inset 5px 5px 5px -4px $insetShadow;
  }
  .questionTextInput {
    font-size: 16px;
  }
  .question-buttons { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    .question-status {
      height: 40px;
      width: 80px;
      justify-content: center;
      align-items: center;
      img {
        height: 100%;
        max-width: 100%;
        object-fit: contain;
      }
    }
    // .smallIcon {
    //   font-size: 30px;
    //   width: 65px;
    //   .faText {
    //     margin-top: 10px;
    //   }
    // }
    .submitButton {
      margin-bottom: 0;
    }
    .nextButton {

    }
  }

  .spacedRepContainer {
    flex-direction: column;
    width: 100%;
  }
  .spacedRepStats {
    flex-direction: column;
    width: 100%;
  }
  .spacedRepObjectContainer {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .spacedRepObject{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2px;
    width: 2em;
    position: relative;

    .question-constant, 
    .currentQuestion, 
    .priorQuestion, 
    .nextQuestion, 
    .false, 
    .true, 
    .transparent {
      width: 100%;
      height: 20px;
      text-align: center;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .question-constant {
      border: 1px solid #333;
      text-align: center;
    }
    .index-current {
      border: 2px solid black;
      background-color: yellow;
    }
    .index-next {
      background-color: rgb(145, 195, 224);
    }
    .insert-after-if-true {
      background-color: rgb(174, 243, 174); 
    }
    .insert-before-if-true {
      background-color: rgb(100, 160, 94); 
    }
    .insert-after-if-false {
      background-color: rgb(248, 163, 138); 
    }
    .insert-before-if-false {
      background-color: rgb(189, 135, 110); 
    }
    .index-redirect {
      background-color: rgb(169, 182, 160); 
    }
    .index-redirect-next {
      background-color: rgb(122, 175, 206);
    }
    .false {
      color: red;
    }
    .true {
      color: green;
    }
    .gray {
      color: #777;
    }
    .current-hightlight {
      position: absolute;
      width: 125%;
      left: -12.5%;
      top: -5%;
      border-top: 3px solid black;
      border-bottom: 3px solid black;
      height: 110%;
      border-radius: 50%;
      z-index: -1;
      background-color: white;
      opacity: 0.50;
    }
  }

  .results {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    .reason {
      
    }
    .resources {
      
    }
    .feedback {
      
    }
    .nextButton {
      width: 250px;
    }
  }
}

.result-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .fa-thumbs-up,
  .fa-thumbs-down {
    font-size: 200px;
  }
  .fa-thumbs-up {
    color: green;
  }
  .fa-thumbs-down {
    color: red;
  }
}