/* @@@@@@@@@@@@@@  END VARIABLES @@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@ RESET @@@@@@@@@@@@@@@@@@@@ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  /* was 100% */
  font-family: 'Oxygen', sans-serif;
  /* Brad added */
  /*font: inherit;*/
  color: #52524e;
  /* Brad added */
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: flex; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  /* Brad added */ }

/* @@@@@@@@@@@@@@@@ END RESET @@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@ GENERAL @@@@@@@@@@@@ */
h1, h2, h3, h4, h5, h6 {
  text-align: center; }

body {
  background-color: white; }

.App {
  width: 100%;
  /* phone, change later */
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #e9e9e5;
  overflow: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

main {
  min-width: 300px;
  max-width: 768px; }

.about, .login, .profile, .dashboard, .quizlist {
  margin: 20px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center; }

/* @@@@@@@@@@@@@@@@ ICONS @@@@@@@@@@@@@@ */
.fa {
  background-color: transparent;
  color: #52524e;
  font-size: 24px;
  display: flex;
  margin: 5px; }

.homeIcon {
  position: absolute;
  left: 0;
  top: 0; }

.settingsIcon {
  position: absolute;
  right: 0;
  top: 0; }

.faText {
  font-size: 11px;
  font-family: 'Oxygen', sans-serif;
  margin: 0 5px; }

.fa-hand-o-right {
  display: flex;
  justify-content: flex-end;
  text-align: right; }
  .fa-hand-o-right .faText {
    margin-right: 0; }

.fa-hand-o-left {
  display: flex;
  justify-content: flex-start;
  text-align: left; }
  .fa-hand-o-left .faText {
    margin-left: 0; }

.fa-check {
  color: #388e3c; }

.smallIcon {
  font-size: 80%;
  margin-right: 5px; }

header .fa {
  color: #111110; }

/* @@@@@@@@@@@@@@@@ HEADER @@@@@@@@@@@@@@ */
.header {
  padding: 15px 5px;
  height: 50px;
  background-color: #9a9b94; }

header {
  position: relative;
  width: 100%; }
  header h1 {
    font-size: 24px;
    color: #7e3c48;
    width: 100%; }

.landing, .login, .profile {
  text-align: center;
  width: 100%; }

/* @@@@@@@@@@@@@@ STATUS BAR @@@@@@@@@@@@ */
.statusBarContainer {
  position: relative;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  height: 20px;
  -moz-box-shadow: 10px 10px 10px -8px #999;
  -webkit-box-shadow: 10px 10px 10px -8px #999;
  box-shadow: 10px 10px 10px -8px #999; }

.statusIconContainer {
  position: relative;
  text-align: center;
  width: 50px;
  height: 15px;
  display: flex;
  margin: 0 5px;
  overflow: none;
  -moz-box-shadow: 5px 5px 5px -4px #999;
  -webkit-box-shadow: 5px 5px 5px -4px #999;
  box-shadow: 5px 5px 5px -4px #999; }

.statusBar {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; }

.statusBarCompletedContainer {
  position: absolute;
  left: 0;
  background-color: transparent; }

.statusBarCorrect {
  background-color: #8bc34a;
  z-index: 9;
  right: 0;
  border-right: 1px solid #ccc; }

.statusBarCompleted {
  background-color: #dc4444;
  z-index: 8;
  left: 0;
  border-right: 1px solid #ccc; }

.statusBarCurrentIndex {
  background-color: #f4e557;
  z-index: 7;
  left: 0;
  border-right: 1px solid #ccc; }

.statusBarCurrent {
  background-color: #52524e;
  z-index: 6;
  left: 0;
  border-right: 1px solid #ccc; }

.statusBarTotal {
  background-color: transparent;
  border: 1px solid #52524e;
  z-index: 99;
  left: 0; }

/* @@@@@@@@@@@@@@ BUTTONS @@@@@@@@@@@@ */
button {
  color: #7e3c48;
  background-color: #d4d6c8;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 15px; }

.enterButton, .loginButton, .submitButton {
  font-size: 35px; }

.submitButton {
  margin-bottom: 0; }

.aboutButton, .createAccountButton, .gotoQuizListButton,
.checkAccuracyButton, .takeAnotherQuizButton {
  font-size: 20px; }

.gotoQuizListButton {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%; }

.gotoQuizListButton,
.checkAccuracyButton, .takeAnotherQuizButton, .submitButton {
  min-width: 100px;
  max-width: 200px; }

.enterButton, .aboutButton, .loginButton, .createAccountButton {
  min-width: 200px;
  max-width: 250px; }

/* @@@@@@@@@@@@@@ LANDING @@@@@@@@@@@@ */
.landingCover {
  padding: 50px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.landingLogoTop {
  font-size: 75px;
  color: #6d343e; }

.landingLogoMid {
  margin-top: 10px;
  font-size: 40px;
  color: #7e3c48; }

.landingLogoBot {
  font-size: 70px;
  color: #964856;
  margin-bottom: 30px; }

.landingTitle {
  font-size: 45px;
  color: #52524e;
  font-family: 'Archivo Black', sans-serif;
  margin: 15px 0; }

.landingButtons, .loginButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

/* @@@@@@@@@@@@@@ LOGIN  @@@@@@@@@@@@ */
.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%; }

/* @@@@@@@@@@@@@@ QUIZ LISTS  @@@@@@@@@@@@ */
.quizUl {
  display: flex;
  flex-direction: column; }

.quizLi, .quizLiName, .quizLiCategory, .quizLiDifficulty {
  display: flex; }

.quizLi {
  align-items: center; }

.quizLi-Li {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px; }
  .quizLi-Li .smallIcon {
    width: 50px; }

.quizLiName {
  width: 150px; }

.quizLiCategory {
  width: 50px; }

.quizLiDifficulty {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  -moz-box-shadow: 5px 5px 5px -4px #999;
  -webkit-box-shadow: 5px 5px 5px -4px #999;
  box-shadow: 5px 5px 5px -4px #999; }

.diff1 {
  background-color: #faf4b7; }

.diff2 {
  background-color: #f4e557; }

.diff3 {
  background-color: #efda10; }

.diff4 {
  background-color: #f5a855; }

.diff5 {
  background-color: #e67e0e; }

.dashboardQuizListHeader, .quizListHeader {
  margin: 20px 0; }

.statusBox {
  display: flex; }

/* @@@@@@@@@@@@@@ FORMS  @@@@@@@@@@@@ */
.profileInput {
  font-size: 18px;
  padding: 8px;
  margin: 5px;
  display: flex;
  text-align: left;
  width: 250px; }

.inputLabel {
  margin-bottom: 20px;
  margin-top: 0;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  width: 250px;
  color: #9f9f9a; }

.question {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90vh;
  width: 100%; }

.questionAsked, .questionOptions {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  min-height: 30vh;
  background-color: white;
  border: 1px solid #ccc;
  -moz-box-shadow: inset 5px 5px 5px -4px #999;
  -webkit-box-shadow: inset 5px 5px 5px -4px #999;
  box-shadow: inset 5px 5px 5px -4px #999; }

.questionAsked {
  flex: 1; }

.questionOptions {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.questionForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.questionButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline; }
  .questionButtons .smallIcon {
    width: 65px; }

/* @@@@@@@@@@@@@@ GENERAL OVERRIDES @@@@@@@@@@@@ */
.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.code {
  font-family: 'Inconsolata', monospace;
  color: #97124b; }

.codeBox {
  background-color: white; }

.inactive {
  color: #9a9b94; }

/*# sourceMappingURL=index.css.map */
