@import 'styles/_reset.scss';
@import 'styles/_variables.scss';
@import 'styles/_icons.scss';
@import 'styles/_landing.scss';
@import 'styles/_header.scss';
@import 'styles/_buttons.scss';
@import 'styles/_lists.scss';
@import 'styles/_status-bar.scss';
@import 'styles/_user.scss';
@import 'styles/_quiz.scss';
@import 'styles/_modal.scss';
@import 'styles/_tooltips.scss';

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    $lightblue1 0%, 
    $lightblue2 30%, 
    white 50%, 
    $lightblue2 80%, 
    $lightblue1 100%
  );
  background-attachment: fixed;
}

// outermost div
.App { //immediate children are header and main
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

// immediate child of .App, outermost container for all content other than header
// set overall width
main { // children are .landing, .user, .lists, .quiz.
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%; // of .App which is 100vw
  min-width: 320px;
  margin: $header-height 0 0 0;
  padding-top: 20px;
  padding-left: 3%;
  padding-right: 3%;
  @media screen and (min-width: $landscapePhone) {
    max-width: 90%;
    padding-left: 6%;
    padding-right: 6%;
  }
  @media screen and (min-width: $portraitTablet) {
    max-width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

.landing, .user, .lists, .quiz { // children of main
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100%; // of main
}

/* @@@@@@@@@@@@@@ GENERAL OVERRIDES @@@@@@@@@@@@ */

.center { text-align: center; }
.left   { text-align: left; }
.right  { text-align: right; }

.code {
  font-family: 'Inconsolata', monospace;
  color: $fontColorCode;
}

.codeBox {
  background-color: $white;
}

.inactive {
  color: $fontColorInactive;
}

.hidden {
  display: none;
}

.transparent {
  color: transparent;
}