/* @@@@@@@@@@@@@@  END VARIABLES - START RESET @@@@@@@@@@@@@@@@@@@@ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  /* was 100% */
  font-family: 'Oxygen', sans-serif;
  /* Brad added */
  /*font: inherit;*/
  color: #52524e;
  /* Brad added */
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: flex; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  /* Brad added */ }

/* @@@@@@@@@@@@@@@@ END RESET - START GENERAL @@@@@@@@@@@@ */
h1, h2, h3, h4, h5, h6 {
  text-align: center; }

body {
  background-image: -moz-linear-gradient(135deg, #ebf5ff 0%, #e6f2ff 30%, white 50%, #e6f2ff 80%, #ebf5ff 100%);
  background-image: -webkit-linear-gradient(135deg, #ebf5ff 0%, #e6f2ff 30%, white 50%, #e6f2ff 80%, #ebf5ff 100%);
  background-image: -o-linear-gradient(135deg, #ebf5ff 0%, #e6f2ff 30%, white 50%, #e6f2ff 80%, #ebf5ff 100%);
  background-image: linear-gradient(135deg, #ebf5ff 0%, #e6f2ff 30%, white 50%, #e6f2ff 80%, #ebf5ff 100%); }

.App {
  width: 100vw;
  min-height: 100vh;
  overflow: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative; }

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-width: 320px; }
  @media screen and (min-width: 576px) {
    main {
      width: 90%;
      padding-left: 5%;
      padding-right: 5%; } }
  @media screen and (min-width: 768px) {
    main {
      width: 760px;
      padding-left: 10%;
      padding-right: 10%; } }

.landing, .about, .login, .profile, .dashboard, .quizlist {
  margin: 20px 10px 10px 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.landing, .login, .profile {
  text-align: center;
  max-height: 63vh; }

/* @@@@@@@@@@@@@@@@ ICONS @@@@@@@@@@@@@@ */
.fa {
  background-color: transparent;
  color: #52524e;
  font-size: 24px;
  display: flex;
  margin: 5px; }

.faText {
  font-size: 11px;
  font-family: 'Oxygen', sans-serif;
  margin: 0 5px; }

.fa-hand-o-right {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  flex-direction: column; }
  .fa-hand-o-right .faText {
    margin-right: 0;
    margin-top: 3px; }

.fa-hand-o-left {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  flex-direction: column; }
  .fa-hand-o-left .faText {
    margin-left: 0;
    margin-top: 3px; }

.fa-check {
  color: #11b7a9; }

.smallIcon {
  font-size: 80%;
  margin-right: 5px; }

/* @@@@@@@@@@@@@@ LANDING @@@@@@@@@@@@ */
.landingCover {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.landingLogoTop {
  font-size: 65px;
  color: #746042; }

.landingLogoMid {
  margin-top: 10px;
  font-size: 30px;
  color: #9b8058; }

.landingLogoBot {
  font-size: 60px;
  color: #746042;
  margin-bottom: 30px; }

.landingTitle {
  font-size: 35px;
  color: #52524e;
  font-family: 'Archivo Black', sans-serif;
  margin: 15px 0; }

/* @@@@@@@@@@@@@@@@ HEADER @@@@@@@@@@@@@@ */
.headerContainer {
  padding: 15px 5px;
  height: 50px;
  position: relative;
  width: 100%;
  display: flex; }
  .headerContainer h1 {
    font-size: 24px;
    color: #fafcff;
    width: 100%; }

.header {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 50;
  background: #5d5aa0;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(60deg, #5d5aa0, #37365e);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(60deg, #5d5aa0, #37365e);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(60deg, #5d5aa0, #37365e);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(60deg, #5d5aa0, #37365e);
  /* Standard syntax (must be last) */
  -moz-box-shadow: 0px 4px 4px #999;
  -webkit-box-shadow: 0px 4px 4px #999;
  box-shadow: 0px 4px 4px #999; }

.backIcon, .burgerIcon {
  display: flex;
  flex-direction: column;
  color: #fafcff;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0; }

.burgerIcon {
  right: 0; }

.backIcon {
  left: 0; }

.burgerIcon {
  right: 0; }

.burgerMenu {
  padding: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  right: 0;
  -webkit-transition: position 1s linear, -webkit-transform 1s linear;
  transition: position 1s linear, transform 1s linear;
  overflow: none;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  z-index: 30;
  border-radius: 0 0 6px 6px; }
  .burgerMenu li {
    margin-bottom: 10px; }

.burgerHide {
  top: -350%; }

.burgerShow {
  top: 100%; }

/* @@@@@@@@@@@@@@ BUTTONS @@@@@@@@@@@@ */
button {
  color: #53452f;
  background-color: #cdddf9;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 15px; }

.enterButton, .loginButton, .submitButton {
  font-size: 35px; }

.enterButton {
  min-height: 55px; }

.submitButton {
  margin-bottom: 0; }

.aboutButton, .createAccountButton, .gotoQuizListButton,
.checkAccuracyButton, .takeAnotherQuizButton {
  font-size: 20px;
  min-height: 40px; }

.gotoQuizListButton {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%; }

.gotoQuizListButton,
.checkAccuracyButton, .takeAnotherQuizButton, .submitButton {
  min-width: 100px;
  max-width: 200px; }

.enterButton, .aboutButton, .loginButton, .createAccountButton {
  width: 250px; }

.landingButtons, .loginButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.questionButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline; }
  .questionButtons .smallIcon {
    width: 65px; }

/* @@@@@@@@@@@@@@ QUIZ LISTS AND DASHBOARD  @@@@@@@@@@@@ */
.dashboardQuizListHeader, .quizListHeader {
  margin: 20px 0; }

.quizUl {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 25px; }

.quizLiTopLabel {
  position: absolute;
  bottom: 38px;
  left: 12px;
  font-size: 12px;
  color: #9a9b94;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -transform: rotate(-45deg); }

.quizLi, .quizLiName, .quizLiCategory, .quizLiDifficulty {
  display: flex; }

.quizLi {
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccccc9;
  margin-bottom: 5px;
  width: 100%; }

.quizIdentifier {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 66%; }

.quizLiName {
  height: 25px;
  width: 64%;
  padding-left: 3%;
  display: flex;
  align-items: center; }
  @media screen and (min-width: 375px) {
    .quizLiName {
      padding-right: 10px; } }

.quizLiDifficulty {
  width: 25px;
  height: 25px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #ccccc9;
  -moz-box-shadow: 5px 5px 5px -4px #999;
  -webkit-box-shadow: 5px 5px 5px -4px #999;
  box-shadow: 5px 5px 5px -4px #999;
  position: relative; }
  .quizLiDifficulty .quizLiTopLabel {
    left: 11px; }

.diff1 {
  background-color: #FCF593; }

.diff2 {
  background-color: #FCD773; }

.diff3 {
  background-color: #FCC067; }

.diff4 {
  background-color: #FCAD58; }

.diff5 {
  background-color: #F39543; }

.quizLiCategory {
  height: 25px;
  width: 22%;
  font-size: 90%;
  color: #797973;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 5px; }
  .quizLiCategory .quizLiTopLabel {
    left: 18px; }
  @media screen and (min-width: 375px) {
    .quizLiCategory {
      padding-left: 10%; }
      .quizLiCategory .quizLiTopLabel {
        left: 30px; } }

.statusBarAttempt {
  height: 25px;
  position: relative;
  display: flex;
  align-items: center; }
  .statusBarAttempt .quizLiTopLabel {
    left: 2px; }

.statusIconWrapper {
  width: 14%;
  height: 25px;
  margin: 0;
  padding: 5px;
  position: relative;
  display: flex;
  align-items: center; }
  .statusIconWrapper .quizLiTopLabel {
    left: 12px; }

.statusIconContainer {
  width: 100%;
  height: 15px;
  -moz-box-shadow: 5px 5px 5px -4px #999;
  -webkit-box-shadow: 5px 5px 5px -4px #999;
  box-shadow: 5px 5px 5px -4px #999;
  display: flex;
  align-items: center; }

.go {
  height: 25px;
  width: 8%;
  padding-right: 2%;
  display: flex;
  align-items: center; }

/* @@@@@@@@@@@@@@ STATUS BAR @@@@@@@@@@@@ */
.statusBarContainer, .statusIconContainer {
  display: flex;
  justify-content: flex-start;
  overflow: none;
  border: 1px solid #52524e; }

.statusBarAttempt {
  display: flex;
  width: 20px;
  font-size: 90%;
  color: #797973; }

.statusBox {
  display: flex; }

.statusBar {
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  -webkit-transition: width 2s, -webkit-transform 2s;
  transition: width 2s, transform 2s; }
  .statusBar span {
    display: flex;
    color: #52524e;
    font-size: 12px;
    padding: 2px;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    min-width: 10px; }

.statusBarSkipped {
  background: #fef4d7;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(90deg, #fef4d7, #fbc941);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, #fef4d7, #fbc941);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, #fef4d7, #fbc941);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, #fef4d7, #fbc941);
  /* Standard syntax (must be last) */ }

.statusBarIncorrect {
  background: #ecd6e4;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(90deg, #ecd6e4, #a54b85);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, #ecd6e4, #a54b85);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, #ecd6e4, #a54b85);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, #ecd6e4, #a54b85);
  /* Standard syntax (must be last) */ }

.statusBarCorrect {
  background: #cdfaf6;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(90deg, #cdfaf6, #11bcad);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, #cdfaf6, #11bcad);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, #cdfaf6, #11bcad);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, #cdfaf6, #11bcad);
  /* Standard syntax (must be last) */ }

.statusBarJustOne {
  background: #b8b8b4;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(90deg, #b8b8b4, #383835);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, #b8b8b4, #383835);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, #b8b8b4, #383835);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, #b8b8b4, #383835);
  /* Standard syntax (must be last) */ }

.statusBarCurrent {
  background-color: #52524e; }

/* @@@@@@@@@@@@@@ FORMS  @@@@@@@@@@@@ */
.profileForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; }

.profileInput {
  font-size: 18px;
  padding: 6px;
  margin: 5px;
  display: flex;
  text-align: left;
  width: 250px;
  border: 1px solid #ccccc9;
  -moz-box-shadow: inset 3px 3px 3px -2px #9c9ac6;
  -webkit-box-shadow: inset 3px 3px 3px -2px #9c9ac6;
  box-shadow: inset 3px 3px 3px -2px #9c9ac6; }

.inputLabel {
  margin-bottom: 15px;
  margin-top: 0;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 12px;
  padding-left: 6px;
  display: flex;
  width: 250px;
  color: #9f9f9a; }

.createAccountButton {
  padding: 8px;
  margin: 5px;
  display: flex;
  margin-top: 0;
  margin-bottom: 0; }

.statusBarContainer {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  height: 20px;
  -moz-box-shadow: 10px 10px 10px -8px #999;
  -webkit-box-shadow: 10px 10px 10px -8px #999;
  box-shadow: 10px 10px 10px -8px #999; }

.quiz {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 90vh;
  width: 90%; }

.question, .results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%; }

.questionAsked, .questionOptions {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  min-height: 30vh;
  background-color: #fafcff;
  border: 1px solid #ccccc9;
  -moz-box-shadow: inset 5px 5px 5px -4px #9c9ac6;
  -webkit-box-shadow: inset 5px 5px 5px -4px #9c9ac6;
  box-shadow: inset 5px 5px 5px -4px #9c9ac6; }

.questionAsked {
  flex: 1; }

.questionOptions {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.questionForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

/* @@@@@@@@@@@@@@@@@@@@ MODAL @@@@@@@@@@@@@@@@@@ */
.modalMask {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100; }

.modal {
  position: relative;
  width: 85vw;
  padding: 15vw;
  background-color: rgba(254, 254, 254, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #a94d88;
  color: #a94d88;
  border-radius: 4px;
  z-index: 101; }
  .modal .message {
    font-size: 24px;
    text-align: center; }
  .modal .modalButton {
    position: absolute;
    top: 5px;
    right: 5px; }

/* @@@@@@@@@@@@@@ TOOLTIPS @@@@@@@@@@@@ */
.tooltip {
  position: relative; }
  .tooltip .tooltipText {
    display: none;
    font-size: 12px;
    text-align: left;
    padding: 15px;
    border-radius: 15px 0 15px 15px;
    top: 110%;
    right: 0;
    width: 200px;
    z-index: 200; }
    .tooltip .tooltipText td {
      font-size: 12px;
      padding: 2px; }
    .tooltip .tooltipText h4 {
      margin-bottom: 4px; }

.tooltip:hover .tooltipText {
  display: block; }

.popover {
  position: absolute;
  background-color: #ebf5ff;
  color: #4a487f;
  border: 1px solid #52524e;
  -moz-box-shadow: 7px 7px 7px -5px #999;
  -webkit-box-shadow: 7px 7px 7px -5px #999;
  box-shadow: 7px 7px 7px -5px #999; }

/* @@@@@@@@@@@@@@ GENERAL OVERRIDES @@@@@@@@@@@@ */
.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.code {
  font-family: 'Inconsolata', monospace;
  color: #a94d88; }

.codeBox {
  background-color: white; }

.inactive {
  color: #bfac8f; }

.hidden {
  display: none; }

/*# sourceMappingURL=index.css.map */
